.groupList {
    padding: 10px 20px;
    border: 2px solid gray;
    margin: auto;
    width: fit-content;
    max-height: 250px;
    overflow: auto;
}

.selectGroup {
    padding: 8px 11px;
    margin: 2px;
    background-color: #e3e3e3;
    border: 1px solid blue;
    border-radius: 5px;
}

.selectGroup.selected {
    background-color: blue;
    color: white;
}
