.addGroup {
    display: flex;
    height: 90%;
    width: fit-content;
    align-items: center;
    margin: auto;
    overflow: auto;
}

.addGroupForm {
    border: 1px solid black;
    padding: 40px;
    border-radius: 15px;
}

.addGroupForm input {
    margin: auto;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    height: 20px;
    padding: 11px 13px;
}

.addGroupForm h1 {
    margin-bottom: 10px;
}

.addGroup button {
    font-size: 20px;
    padding: 9px 11px;
}
