* {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

html, body, #root, .pages {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
.pages {
  flex: 1;
}

.profileImgText {
  height: 0.8em;
  width: 0.8em;
}

span {
  height: fit-content;
  width: fit-content;
}

label {
  font-size: 22px;
  display: block;
}

button {
  padding: 3px;
  margin: 3px;
  font-size: 15px;
}
.fullwidth {
  width: 100%;
}

.deleteButton {
  color: darkred;
  border: 1px solid darkred;
}

.errorMsg {
  color: darkred;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}